<h1>Tasks</h1>

<ul>

	<% @tasks.each do |task| %>
	<li>
		<div>Content: <%= task.content %></div>

		<div>Complete: <%= task.complete %></div>

		<div>Created At: <%= task.created_at %></div>
	</li>
	<% end %>

</ul>